.product-views-option-float {
	width: 100%;
	margin-bottom:$sc-margin-lv4;

	[data-validation-error="block"]{
  		display:table;
  		margin-top:$sc-margin-lv1;
  	}
}


.product-views-option-float-label-required {
	@extend .input-required;
}
.product-views-option-float-input {
	@extend .input-medium;
}

[data-action="sc-pushing"] .product-views-option-float-input {
    width: 100%;
}