

.requestquote-wizard-permission-error-header {
	position: relative;
}

.requestquote-wizard-permission-error-header-title {
	@extend .cart-title;

	@media (min-width: $screen-sm-min) {
		line-height: 42px;
	}
}



.requestquote-wizard-permission-error-message {
	margin-bottom: $sc-margin-lv4;
}

.requestquote-wizard-permission-error-button {
	@extend .button-secondary;
	@extend .button-medium;
	margin-top: $sc-margin-lv4;
}