.requestquote-wizard-module-message {
	margin-bottom: $sc-margin-lv4;
	margin-top: $sc-margin-lv4;

	@media (min-width: $screen-sm-min) {
		margin-top: 0;
	}
}

.requestquote-wizard-module-message-disclaimer-message {
	margin-bottom: $sc-margin-lv4;
}