.product-views-option-textarea {
	width: 100%;
	margin-bottom:$sc-margin-lv4;

	[data-validation-error="block"]{
  		display:table;
  		margin-top:$sc-margin-lv1;
  	}
}


.product-views-option-textarea-label-required {
	@extend .input-required;
}


[data-action="sc-pushing"] .product-views-option-textarea {
    width: 100%;
}

.product-views-option-textarea-required-reference-container {
	padding:$sc-padding-lv3 0;
}
