.login-register-forgot-password-body{
	background-color: #282828;
	margin-top: $sc-margin-lv4;
	margin-right: - $sc-margin-lv3;
	margin-left:  - $sc-margin-lv3;
	padding: 15px;
	*{
		color: #fff;
	}

	@media (min-width: $screen-sm-min){
		margin-right: auto;
		margin-left:  auto;
		margin-bottom: 40px;
		width: 50%;
		padding: 15px;
	}
	input {
		background-color: #282828;
		border: 0px;
		border-bottom: 1px solid #fff;
		padding: 10px 0 5px 0;
		color: #fff;
	}
	.data-validation-error {
		background-color: red;
		color: #fff;
	}
	
	small{
		font-size:.5rem;
	}
}
.login-register-forgot-password-title{
	margin: 0;
}
.login-register-forgot-password-description{
	margin-top: $sc-margin-lv4;
}

.login-register-forgot-password-form{
	margin-top: $sc-margin-lv2;
	.global-views-message {
		margin: 20px 0;
	}
}

.login-register-forgot-password-form-controls-group{
	margin-top: $sc-margin-lv4;
}



.login-register-forgot-password-form-required{
	@extend .input-required;
}

.login-register-forgot-password-form-input{
	@extend .input-large;
}

.login-register-forgot-password-submit{
	@extend .button-large;
	@extend .button-primary;
	background-color:#282828;
		padding: 10px 40px;
		color: #cca323;
		&:hover {
			background-color: #cca323;
			color: #282828;
		}
}

.login-register-forgot-password-sign-in{
	display:inline-block;
	margin-top: $sc-margin-lv2;
}



