.login-register-reset-password-body {

	background-color: #282828;
	margin-top: $sc-margin-lv4;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	padding: 15px;

	@media (min-width: $screen-sm-min){
		width: 50%;
	}
	*{
		color: #fff;
	}
}

.login-register-reset-password-form{
	margin-top: $sc-margin-lv2;
}
.login-register-reset-password-description{
	margin-top: $sc-margin-lv4;
}

.login-register-reset-password-control-group{
	margin-top: $sc-margin-lv4;
}



.forgot-password-form-required{
	@extend .input-required;
}

.login-register-reset-password-input{
	@extend .input-large;
	background-color: #282828;
	color: #fff;
	border: 1px solid #282828;
	border-bottom: 1px solid #fff;
}

.login-register-reset-password-submit{
	/*@extend .button-large;*/
	@extend .button-primary;
	padding: 5px 10px;
	background: transparent;
}

.login-register-reset-password-sign-in{
	display:inline-block;
	margin-top: $sc-margin-lv4;

	@media (min-width: $screen-sm-min){
		margin-top: 0;
		margin-left: $sc-margin-lv2;
	}
	&:hover {
		color: #fff;
	}
}

.login-register-reset-password-forgot-password-form-required{
	@extend .forgot-password-form-required;
}




