.recently-viewed-items {
	position:relative;
	h3{
		margin-bottom:$sc-margin-lv8;
	}
	.bx-controls-direction{
		text-align:right;
		margin-bottom:$sc-margin-lv8;
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
}