.social-sharing-flyout-hover-icons {
	position: absolute;
	top: 10px;
	left: 25px;
	z-index: 1000;
	display: none;
}

.product-details-image-gallery:hover {
	.social-sharing-flyout-hover-icons {
		display: none;
		@media (min-width: $screen-sm-min){
			display: block;
		}
	}
}