.product-list-control-new-item-button-create{
	@extend .button-small;
	@extend .button-tertiary;
	margin:$sc-margin-lv3;
}
.product-list-control-new-item-add-new-list-form{
	display: none;
}

.product-list-control-new-item-add-new-list-input-container{
	padding: $sc-padding-lv3;
	padding-bottom: 0;
}




