// Typography colors
$sc-color-h1: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h2: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h3: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h4: $sc-color-copy-dark; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h5: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-h6: $sc-color-secondary; /* editable({"type": "color", "label": "Color"}) */
$sc-color-paragraph: $sc-color-copy;
$sc-color-blockquote: $sc-color-copy-light;
