.order-history-cancel-modal
{
	h4 {
		margin-bottom: $sc-margin-lv3;
	}
}

.order-history-cancel-modal-actions
{
	margin-top: $sc-margin-lv4;
}

.order-history-cancel-modal-cancel-button
{
	@extend .button-primary;
	@extend .button-medium;
	margin-bottom: $sc-margin-lv3;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
		margin-right: $sc-margin-lv2;
	}
}

.order-history-cancel-modal-close-button
{
	@extend .button-tertiary;
	@extend .button-medium;
}