
.store-locator-list-all-store-col {
	display: inline-block;
	width: 100%;
	height: 15px;
	color: white;
	line-height: 15px;
	padding-bottom:$sc-padding-lv5;
}

.store-locator-list-all-store-name {
	display:block;
	padding-bottom:$sc-padding-lv2;
}

