.header-simplified-header{
	height: $sc-main-nav-height;
	background-color: $sc-top-menu-background-color;
	box-shadow: 3px 0px 6px $sc-header-shadow-color;
}

.header-simplified-header-logo{
	text-align: center;

	.header-logo-image{
		width: auto;
	}
}

