.transaction-line-views-price-lead{
	@extend .middle-price;
}

.transaction-line-views-price-old{
	@extend .old-price;
}

.transaction-line-views-price-login-to-see-prices-highlighted {
	margin-top: $sc-margin-lv2;
    margin-bottom: $sc-margin-lv2;
}

.transaction-line-views-price-message {
	font-weight: normal;
}



