.return-authorization-cancel-modal {
	h4 {
		margin-bottom: $sc-margin-lv3;
	}
}
.return-authorization-cancel-modal-actions {
	margin-top: $sc-margin-lv4;
}
.return-authorization-cancel-modal-cancel-button {
	@extend .button-primary;
	@extend .button-medium;
	margin-bottom: $sc-margin-lv3;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
		margin-right: $sc-margin-lv2;
	}
}
.return-authorization-cancel-modal-close-button {
	@extend .button-tertiary;
	@extend .button-medium;
}